@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 802px;
    margin-bottom: 30px;
    align-self: self-start;
    color: #313131;
    font-family: Unbounded;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wrapper {
    display: flex;
}

.wrapper-mobile {
    display: none;
}

.main-video {
    width: 802px;
    height: 450px;
    position: relative;
}

.main-video .views {
    right: 20px;
    bottom: 20px;
}

.views {
    position: absolute;
    width: 125px;
    height: 42.627px;
    border-radius: 57.604px;
    background: #000;
    right: 10px;
    bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 98.9%; /* 15.824px */
}

.views img {
    padding-right: 12px;
}

.slider {
    width: 326px;
    height: 450px;
    margin-left: 40px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
}

.carousel{
    width: 320px;
    height: 375px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.video {
    position: relative;
    width: 320px;
    height: 180px;
    margin-bottom: 15px;
    cursor: pointer;
    object-fit: cover;
}

.video:last-child {
    margin-bottom: 0;
}

.youtube-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    width: 363px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-top: 45px;
    border-radius: 3px;
    background: radial-gradient(75.77% 122.51% at 50% 0%, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), #E74242;
    box-shadow: 0px 23px 33px 0px rgba(255, 106, 106, 0.30);

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 98.9%; /* 17.802px */
}

.button-text {
    padding: 0 40px;
}

@media screen and (max-width: 1200px) and (min-width: 767px) {
    .text {
        width: 717px;
    }

    .wrapper {
        flex-direction: column;
    }

    .main-video {
        margin-bottom: 48px;
    }

    .slider {
        display: flex;
        width: 717px;
        height: 180px;
        margin-left: 0;
    }

    .carousel {
        display: flex;
        flex-direction: row;
        width: 655px;
        height: 180px;
    }

    .main-video {
        width: 717px;
        height: 406px;
    }

    .video {
        width: 320px;
        height: 180px;
        margin-right: 15px;
        margin-bottom: 0;
    }

    .video:last-child {
        margin-right: 0;
    }

    .arrow {
        width: 30px;
        height: 180px;
        padding: 0;
    }

    .arrow:first-child {
        rotate: -90deg;
    }

    .arrow:last-child {
        rotate: -90deg;
    }

    .button {
        width: 254px;
        height: 60px;

        font-size: 16px;
    }

    .button-text {
        padding: 0 20px;
    }
}

@media screen and (max-width: 767px) {
    .text {
        width: 377px;
        color: #313131;
        text-align: center;
        font-family: Unbounded;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .wrapper {
        display: none;
        justify-content: center;
        align-items: center;
    }

    .wrapper-mobile {
        display: flex;
        flex-direction: row;
        width: 377px;
        height: 157px;
    }

    .main-video {
        width: 280px;
        height: 157px;
    }

    .arrow {
        padding: 0 13px;
    }

    .button {
        width: 254px;
        height: 60px;

        font-size: 16px;
    }

    .button-text {
        padding: 0 20px;
    }
}